body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #718ca1;
}


.container {
    max-width: 800px;
    margin: 20px auto;
    background-image: linear-gradient(to top left, rgb(102, 77, 77), pink, rgb(248, 234, 234));
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.section-header {
    display: flex;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    
}

.image{
margin-left: 520px;
}
.side{
    margin-top: -65px;
}

h1,
h2,
h3 {
    margin: 10px 0;
}

p {
    margin: 5px 0;
}

.section {
    margin-bottom: 20px;
}



.experience,
.education {
    margin-top: 10px;
}

.experience h3,
.education h3 {
    margin-bottom: 5px;
}

